*{
    box-sizing: border-box;
}
body{
    background-color: #f3e2ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.outer{
    margin-top: 10%;
    display: inline-block;
    background-color: #0c0b0b;
    color: #f3e2ec;
    padding: 5%;
    box-shadow: 5px 15px 10px #1f1b1b;
    border-radius: 50px;
}
.timer{
    font-weight: 500;
    font-size: 49px;
}
.options{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.btn{
    background: #f3e2ec;
    cursor: pointer;
    border:0;
    outline:none;
    border-radius: 50%;
    padding: 15px;
    text-decoration: none;
}
.laps{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
ul{
    list-style: none;
}
.history{
    display: flex;
    justify-content: center;
}
.history button{
    background: transparent;
    color: #f3e2ec;
    color: unset !important;
}
.modal{
    background: #1f1b1b;
    color: #1f1f1f;
}
.modal-body, .modal-header, .modal-footer{
    background-color: #f3e2ec;
}
.modal button{
    color: #f3e2ec;
    background: #1f1b1b;
}
.modal button:hover{
    background-color: #eed3e3;
    color: #0c0b0b;
}